# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*



{/* MOBILE-HEAD STARTS HERE   */}
      {/* <div className={classes["mobile-head-main"]}>
        <div  className={classes["mobile-head"]}>
          <h4>
            <Link to={"/"}>Theresa's</Link>
          </h4>

          <ul>
            <a href="">Hi Lipps!</a>
            {cart}
            <DrawerToggleButton toggleHandler={toggleHandler} />
          </ul>
        </div>
        <Search
          value={search}
          onChange={searchChangeHandler}
          placeholder={"Search products, brands and categories"}
          className={classes.search}
        />
      </div> */}
      {/* MOBILE-HEAD ENDS HERE   */}


//0RIGINAL Layout.js
// import MainFooter from "./MainFooter";
// import MainNavigation from "./MainNavigation";

// const Layout = (props) => {
//   return (
//     <div>
//       <MainNavigation />
//       <main style={{ width: "100%", maxWidth: "60rem", margin: "10rem auto" }}>
//       {/* <main style={{ width: "100%", maxWidth: "72rem", margin: "1rem auto" }}> */}
//         {props.children}
//         <MainFooter />
//       </main>
//     </div>
//   );
// };

// export default Layout;