.container {
  width: 100%;  
}
.product {
  width: 65%;
  margin: 0;
  display: flex;
  padding: 1rem;
  gap: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.content p {
  padding: 0.5rem;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 30rem;
  height: 5rem;
  margin-top: 10rem;
}
.counter {
  display: flex;
  position: relative;
  gap: 1.5rem;
}
.counter p {
  position: absolute;
  top: 2rem;
  left: 10.5rem;
}

.clearcart-checkout {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 7rem;
  right: 2rem;
  width: 25%;
}

.checkoutSummary {
  width: 30rem;
  padding: 2rem;
}
.subtotal {
  padding: 1rem;
}
.action {
  display: flex;
  justify-content: space-between;
}
.btn1 {
  color: red;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    overflow: scroll;
  }
  .container > p {
    text-align: center;
  }
  .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0rem; */
    gap: 0rem;
  }

  .right {
    width: 100%;
    margin-top: 0;
  }

  .counter{
    position: relative;
  }
  .counter p{
    position: absolute;
    top: 2rem;
    left: 5.3rem;
  }
  .btn {
    width: 5rem;
  }
  .clearcart-checkout {
    position: static;
    margin-top: 2rem;
    width: 100%;
  }
  .checkoutSummary{
    text-align: center;
    width: 100%;
  }
}
