.slider {
  position: relative;
  width: 100%;
  height: 90vh;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  transform: translateX(10%);
}
.slide > div {
  display: flex;
  align-items: center;
}
.slide h1{
  text-align: left;
  margin-left: 0;
}

.slide img {
  width: 65%;
}


.btn {
  width: 12rem;
}
.btn:hover {
  background-color: white;
  border: none;
  color: black;
}

.btn a {
  color: white;
  text-decoration: none;
}
.btn a:hover {
  color: black;
}

.arr {
  z-index: 30;
}
.prev {
  position: absolute;
  top: 4rem;
  left: 0;
  color: orange;
}
.next {
  position: absolute;
  top: 4rem;
  right: 0;
  color: green;
}

@media screen and (max-width: 700px) {
  .slider {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    transform: translateX(5%);
  }
  .slide img {
    width: 80%;
  }
  .slideFirstDiv {
    display: flex;
    flex-direction: column;
  }
  .slideFirstDiv {
    text-align: center;
  }
  .slideFirstDiv p {
    text-align: left;
    inline-size: 250px;
    font-size: 1.5rem;
  }
  .next {
    position: absolute;
    top: 4rem;
    right: 2rem;
    color: green;
  }
}
